_UpgradeReport_Files\*
_vti_*
*.suo
*.user
*.FileListAbsolute.txt
bin\*
sql\debug\*
sql\release\*
temp\*
Published\*
obj\*
Cache\*
*].jpg
*].png
*).jpg
*).png
*.dbmdl
*.Publish.xml
*.schemaview
*.ncb
*.orig
*.nlb
*.aps
*.clw
*.pdb
*.obj
*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.Cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sig
*.docstates
*.vssscc
thumbs.db
_ReSharper*\*
error-*.xml
TestResults\*
*.vsp
*/Spam/*
packages/*
bin.*
*.lorien
bin/*
obj/*
TestResults/*
*/bin/*
*/obj/*
Tests/packages/*
*.snk